---
const platform = "GitHub";
const username = "brentdoering";
---

<footer>
    <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`} target="blank">{platform}</a> and find me on <a href={`https://www.linkedin.com/in/brent-doering`} target="blank">LinkedIn</a>.</p>
</footer>